Source: clip-pkgdb
Section: non-free/utils
Priority: extra
Maintainer: Mickaël Salaün <clipos@ssi.gouv.fr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://www.ssi.gouv.fr/

Package: clip-pkgdb
Architecture: all
Depends: ${misc:Depends}, python, ipython, python-dateutil, python-jinja2, python-lxml
Description: Tool to manage packages metadata for CLIP
